
<p>The rules are simple:<br><br>
Rock beats Scissors<br>
Paper beats Rock<br>
Scissors beats Paper!<br><br>
Make your choice in the browser bar!<br><br>
e.g. /player1/player2<br><br>
Good luck!



 </p>
